$background-color: #98878F;
$main-color: #192231;
$accent-color: rgb(196, 159, 38);
$menu-color: #FFFFFF;
$line-color: #b2b2b2;
$border-color:  #d1d1d1;
$img-color: #7cfcd1;
$title-color: #000000;
$card-color: #808080;
$button-color: #dd8613;
$background-color: #FFFFFF;
